{% extends 'base_noticia.html'%}
{% load static %}

{% block title%}Notícias{% endblock%}
{% block main%}

<section class="conteudo_principal_nt">
    <div class="head">
        <h2>Saiba como está a educação no Brasil</h2>
        <hr>
        <br>
    </div>
    <div class="corpo">
        <h3>Mudanças na educação prisional visam melhorar gestão e parte pedagógica</h3>
        <img src="/static/img/img03.jpg" alt="">
        <p>A educação no sistema prisional, na modalidade Jovens e Adultos (EJA), passa por reorganização neste ano, por determinação da Secretaria de Estado de Educação (Seduc-MT), com o objetivo de promover melhorias na gestão e, principalmente, na parte pedagógica.</p>
        <a href="http://www.mt.gov.br/web/seduc/-/16570480-mudancas-na-educacao-prisional-visam-melhorar-gestao-e-parte-pedagogica" target="_blank"> CONTINUE LENDO CLICANDO AQUI</a>
        <br>
        <br>
        <br>

        <h3>Bahia tira nota 0 e fica em último lugar em índice de educação pública à distância</h3>
        <img src="/static/img/img04.jpg" alt="">
        <p>A Bahia ficou em último lugar num ranking brasileiro de educação pública à distância durante a pandemia elaborado pela Fundação Getúlio Vargas. Salvador, por sua vez, ocupa o primeiro lugar entre as capitais brasileiras, acima da média de 1,95. O estudo se refere ao recorte entre março e outubro de 2020. </p>
        <a href="https://www.bahianoticias.com.br/noticia/256792-bahia-tira-nota-0-e-fica-em-ultimo-lugar-em-indice-de-educacao-publica-a-distancia.html"target="_blank">CONTINUE LENDO CLICANDO AQUI</a>
        <br>
        <br>
        <h3>Justiça suspende retorno de aulas presenciais na educação infantil da rede pública municipal da cidade de SP</h3>
        <img src="/static/img/img05.jpg" alt="">
        <p>O Tribunal de Justiça de São Paulo concedeu, na noite desta sexta-feira (29), uma liminar que suspende o retorno das aulas presenciais apenas na educação infantil da rede pública municipal da cidade de São Paulo.</p>
        <a href="https://g1.globo.com/sp/sao-paulo/noticia/2021/01/30/justica-suspende-retorno-de-aulas-presenciais-na-educacao-infantil-da-rede-publica-municipal-da-cidade-de-sp.ghtml"target="_blank">CONTINUE LENDO CLICANDO AQUI</a>
   
    </div>
</section>

{% endblock%}