{% extends 'base_principal.html'%}
{% load static %}

{% block title%}Vídeos{% endblock%}

{% block class_menu %}<section class="hero_sec" >{% endblock %}

{% block titulo_menu %} {% endblock %}

{% block main%}

<section class="conteudo_principal_vd">
    <div class="head">
        <h2>GALERIA DE VÍDEOS</h2>
        <br>
    </div>
    <hr>
    <div class="corpo">
        <h3>QUAIS OS DESAFIOS DA EDUCAÇÃO BRASILEIRA? | DESENHANDO</h3>
        <iframe width="773" height="400" src="https://www.youtube.com/embed/WXa1RrzNL0o" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br><br>
        <h3>Desafios na educação pública | Políticas públicas em debate</h3>
        <iframe width="773" height="400" src="https://www.youtube.com/embed/cI1opiyvN-s" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br><br><br>
        <h3>Mario Sergio Cortella fala sobre Educação e suas vertentes</h3>
        <iframe width="773" height="400" src="https://www.youtube.com/embed/pOoC7pUdJA8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
</section>

{% endblock%}