{% extends 'base_depoimento.html'%}
{% load static %}

{% block title%}Depoimentos{% endblock%}
{% block main%}

<section class="conteudo_principal_dp">
    <div class="head">
        <h2>O QUE AS PESSOAS ACHAM DA EDUCAÇÃO PÚBLICA?</h2>
        <hr>
        <br>
    </div>
    <div class="corpo">
        <img src="/static/img/img02.jpeg" alt="">
        <br><br>
        <h3>Depoimento de Júlio:</h3>
        <p>"Nos últimos meses, sendo sincero, tenho carregado um sentimento de frustração e impotência que têm me tirado o sono. Na semana passada, na tentativa de nos aproximarmos das experiências com a atual educação não presencial, ligamos, individualmente, para todas as famílias que conseguimos. Fiquei ainda mais assustado. Como pode a Secretaria fingir normalidade diante de tantas dificuldades e desigualdades? O que justifica tamanho descaso com a educação? [...]"<br><br>

            "[...] O desrespeito que a Secretaria tem para com os seus alunos é o mesmo que tem para com os profissionais em Educação. Até agora não fomos escutados. Não houve, em nenhum momento, um espaço para que nós, professores, fôssemos ouvidos e questionados sobre nossos êxitos ou dificuldades. [...]"<br><br>
            
            "[...] Na escola em que trabalho, orgulhosamente, temos tentado, pela cultura, nos aproximar e manter nossas ligações, que são, sobretudo, emocionais. Educação envolve afeto, sociabilização, confiança. Estamos lidando com alunos em situações de extrema vulnerabilidade social. Alguns em luto. Por que essas necessidades não estão no universo de preocupações da secretaria? [...]"<br><br>
            
            "[...] Desculpe o desabafo, mas cada mensagem e áudio recebido de alunas e alunos com queixas das dificuldades enfrentadas é um sufoco no coração de cada professor. Imagine, agora, os desabafos silenciados daqueles que não conseguem se comunicar? Para cada nó na garganta de uma queixa recebida, um aperto no peito por aqueles que não podem ser ouvidos. A proposta é cruel. [...]"<br><br>
            
            "[...] Diga a um aluno, que divide um celular com mais três pessoas em casa, que ele deve acompanhar aulas e resolver atividades semanalmente. Diga a uma aluna, que vive em uma região sem sinal de internet e nem de televisão – capaz de transmitir as aulas da SEE – que ela deve estar por dentro de tudo que é cobrado. Diga a uma mãe, sobrecarregada, que ela precisa auxiliar seus filhos em uma atividades que demanda tempo, didática e conhecimentos específicos. Diga a um aluno que tem fome que ele precisa estar por dentro de discussões que não levam em conta a sua – cruel – realidade. A educação pública não merece tanto descaso."
            
            Júlio César de Gouvêa é graduado em História pela UFOP, professor da rede estadual de Minas Gerais e, atualmente, compõe o quadro de professores da Escola Estadual de Ensino Médio Monte Sinai – Esmeraldas/MG. </p>
            <br><br>
        <h3>Depoimento de Andiara:</h3>
        <p>"No sistema educacional oferecido pelos estados, municípios, crianças com dificuldades diversas, convivem em uma mesma sala com outras 24, 27, com apenas um professor em sala de aula. Já a rede privada, a qual possui em sua maioria alunos com mais recursos, convivem apenas oito crianças ate dois professores. [...]"<br><br>

            "[...] Ante o exposto, indago: é justo culparmos nossas crianças por não aprenderem o currículo oficial? Ou ainda, será justo culpar apenas seus pais que não lhe oferecem orientações e auxilio? E o pior, nosso sistema educacional não oferece condições adequadas para a aprendizagem destas crianças, seus professores não acreditam em seu potencial e, afinal, o que o estado, a sociedade estão fazendo para superar essa situação? Onde estão as políticas públicas educacionais realmente preocupadas com a qualidade e o resultado prático do ensino brasileiro? Quando os professores ganharão dignamente? Quando a educação brasileira de fato será tratada como prioridade?"</p>
            <br><br>
        <h3>Depoimento de Claúdio:</h3>
        <p>A rotina do professor Cláudio Roson se encaixa no caso citado por Paz. Roson leciona matemática para alunos do primeiro ano do ensino médio em uma escola de Pirituba. Ao todo, são seis turmas e 30 aulas semanais para um salário líquido de R $1.800. Pelos cálculos do professor, a correção de provas bimestrais leva de seis a oito horas, tempo que deveria ser utilizado para o seu lazer. Ele acrescenta que também é obrigado a lidar com a violência, o tráfico de drogas e a falta de produtos de limpeza na escola. “Toda hora temos que pedir para que os alunos prestem atenção. Uma aula de 50 minutos rende, no máximo, 20 minutos”, afirma o professor de matemática.</p>
       
    </div>
</section>

{% endblock%}