{% extends 'base_principal.html'%}
{% load static %}

{% block title%}Sobre{% endblock%}

{% block class_menu %}<section class="hero_sec" >{% endblock %}

{% block titulo_menu %} {% endblock %}

{% block main%}

<section class="conteudo_principal_sb">
    <div class="head">
        <h2>SOBRE</h2>
        <hr>
    </div>
    <div class="corpo">
        <p>A ideia em princípio deste site foi designado com o intuito de trazer um estimulo para atingir um certo tipo de melhoria e ideias na qualidade social da educação pública, possibilitando ao usuário ter o conhecimento da importância que a educação tem a oferecer tanto no âmbito científico e histórico que são acumulados na sociedade. </p>
        <p>Os idealizadores responsáveis por este site são estudantes do segundo ano do curso de informática do Instituto Federal do Maranhão (IFMA - Campus Bacabal) com as orientações do professor de informática Marcelo Eugênio sobre Autoria Web (disciplina estudada).</p>
        <br>
        <ul>
            <li>INTEGRANTES:</li>
            <br>

            <ul>
                <li><strong>Fabrício da Silva Lima</strong></li>
                <br>
                <li><strong>Kayllanne da Silva Ferreira</strong></li>
                <br>
                <li><strong>Kaio Felipe Castro Fontenele</strong></li>
                <br>
                <li><strong>Francisco Laurindo de Andrade Neto</strong></li>
                <br>
                <li><strong>João Victor de Sousa Prazeres</strong></li>
                <br>
                <li><strong>Thauane Letícia Ericeira Morais</strong></li>
                <br>
                
                
            </ul>
            

            <li>Turma de Informática III (TIF3)</li>
            <li>Atividade Avaliativa da Disciplina de Linguagem e Desenvolvimento de Aplicações Web</li>

        </ul>
    </div>
    <br><br>
    <h2>Blibiografia</h2>
    <ul>
        <li><a href="https://www.politize.com.br/educacao-brasileira-realidade-e-desafios/" target="_blank">Educação Brasileira: realidade e desafios </a></li>
        <li><a href="http://www.vidasraras.org.br/site/politicas-publicas/424-qual-e-a-importancia-da-educacao" target="_blank">Qual é a importância da Educação?</a></li>
        <li><a href="http://intertemas.toledoprudente.edu.br/index.php/ETIC/article/view/1369" target="_blank">ARTIGO: DIREITO À EDUCAÇÃO: DIREITO À EDUCACAO PÚBLICA DE QUALIDADE</a></li>
        <li><a href="https://pt.m.wikipedia.org/wiki/Ensino_p%C3%BAblico" target="_blank">Ensino público</a></li>
        <li><a href="https://educador.brasilescola.uol.com.br/trabalho-docente/a-qualidade-educacao-brasileira.htm" target="_blank">A qualidade da educação brasileira</a></li>
        <li><a href="https://educador.brasilescola.uol.com.br/politica-educacional/o-acesso-ao-ensino-publico-importancia-educacao.htm" target="_blank">O acesso ao ensino público e a importância da educação</a></li>
        <li><a href="https://educacoesemrede.com/2020/07/31/857/"target_blank>Escola pública em tempos de quarentena: relato de um professor</a></li>
        <li><a href="http://vaidape.com.br/2015/04/descaso-com-a-educacao-publica-relato-de-tres-professores-estaduais/"target_blank>Descaso com a educação pública: relato de três professores estaduais</a></li>
    </ul>
</section>

{% endblock%}