{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Educação</title>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% include 'button1.html' %}
    
</head>
<body>
    <section class="hero">
    <div class="menu">
        <nav>
        <div class="logo">
            <h1><a href="#">Educação Pública</a></h1>
        </div>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'noticia'%}">Notícias</a></li>
                    <li><a href="{% url 'video' %}">Vídeos</a></li>
                    <li><a href="{% url 'depoimento'%}">Depoimentos</a></li>
                    <li><a href="{% url 'sobre'%}">Sobre</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </div>
    <div class="hero_conteudo">
        <h1> Educação Pública brasileira</h1>
        <p>"O homem não é nada além daquilo que a educação faz dele". </p>
    </div>
</section>
    {% block main %} {% endblock %}

    
    {% include 'javascriptBT.html' %}
    
    {% include 'vslibras.html' %}
    
    {% include 'footer.html' %}
</body>
</html>