    <section class="hero_sec">
    <div class="menu_sec">
        <nav> 
        <div class="logo">
            <h1><a href="#">Educação Pública</a></h1>
        </div>
            <div class="nav-links" id="navLinks">
                <i class="fa fa-times" onclick="hideMenu()"></i>
                <ul>
                    <li><a href="{% url 'home'%}">Home</a></li>
                    <li><a href="{% url 'noticia'%}">Notícias</a></li>
                    <li><a href="{% url 'video'%}">Vídeos</a></li>
                    <li><a href="{% url 'depoimento'%}">Depoimentos</a></li>
                    <li><a href="{% url 'sobre'%}">Sobre</a></li>
                </ul>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </nav>
    </div>
    </section>